.heading {
    width: fit-content;
    margin: 30px auto;
}

.controller {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}