.heading {
    width: fit-content;
    margin: auto;
}
.btn {
    border-radius: 15px;
    padding: auto;
    margin: 2px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttons {
    display: grid;
}

@media screen and (min-width: 901px) {
    .buttons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 500px), (max-width: 900px) {
    .buttons {
        grid-template-columns: 1fr 1fr;
    }
}